@import url('https://fonts.googleapis.com/css?family=Gelasio:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i&display=swap');
body{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,233,233,1) 100%);
}
h1{
  font-family: Gelasio;
  color: 'dark grey';
}
a{
  color: black;
}
a:hover{
  color: grey;
}
#profpic{
  width: 330px;
  height: auto;
  border-radius: 10px;
  border-color: grey;
  border-width: 2px;
}
.header{
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 3px black;
  font-family: "Gelasio";
  font-size: 40px;
}
.button{
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}
.tibar{
  color: white;
  text-decoration:none;
  padding: 15px 30px;
  margin: 15px 30px;
  font-size: 20px;
  font-family: 'Gelasio';
  align-items: center;
}
.content{
  background: rgb(192,192,192);
  padding: 5px 10px;
  border-radius: 25px;
  font-family: 'Gelasio';
  font-size: 18px;
  color: rgb(90,90,90);
}
.bitar{
  background: black;
  height:auto;
  width:auto;
}
.topimg{
  background-image: url('topimg.jpg');
  width: auto;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
.imgbar{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(224,221,221,1) 76%, rgba(214,210,210,1) 100%);
  height: auto;
  width: auto
  padding: 60px 0px 0px 0px;
}
.contab{
  width: 200px;
}
#collab{
  font-size: 25px;
  width: 75%;
  height: auto;
  font-family: 'Gelasio';
}
#subheader{
  width: auto;
  height: auto;
  text-shadow: none;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Roboto Condensed';
  font-style: italic;
}
#cu{
  width:300px;
  height: auto;
  float: left;
}
#aboutme{
  width: 80%;
  margin: auto;
}
#cherry{
  float: right;
  width: 350px;
  height: auto;
}
#Bio{
  padding-left: 30px;
}
