@import url(https://fonts.googleapis.com/css?family=Gelasio);
body{
  padding: 20px 40px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,233,233,1) 100%);
}
#profpic{
  width: 330px;
  height: 320px;
  margin: auto;
}
h1{
  font-family: Gelasio;
  color: 'dark grey';

}
.header{
  text-transform: uppercase;
  padding: 30px 10px
}
.button{
  width: 30px;
  height: 30px;
}
a{
  color: black;
}
a:hover{
  color: grey;
}
.tibar{
  color: white;
  text-decoration:none;
  background-color: black;
  padding: 15px 100px;
  margin: 15px 10px;
}
